*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: navy;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    background-color: white;
    border-radius:  20px;
    overflow: hidden;
}
#display {
    width: 100%;
    padding: 40px;
    border: none;
    font-size: 2rem;
    background-color: hsl(0deg 0% 70%);
    color: white;
}
.btn{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 20px;
}
.operator{
    background-color: lightgrey;
    color: black;
}
button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: gold;
    color: black;
    font-size: 50px;
    margin: 5px;
    cursor: pointer;
}
button:hover{
background-color: hsl(50.59deg 100% 70%);
}
button:active{
background-color: hsl(50.59deg 100% 80%);
}
.operator:hover{
    background-color: hsl(0deg 0% 90.75%);
}
.operator:active{
    background-color: hsl(0deg 0% 95.75%);
}